h1 {
    text-align: center;
    font-size: 36pt;
    color: #000099;
    margin-bottom: 5px;
    text-decoration: underline;
}

h2 {
    font-size: 24pt;
    color: #000099
}

h3 {
    font-size: 18pt;
    color: #71e722
}

table {
    width: 100%;
}
img {
    border-radius: 8px;
}

th {
    text-align: left;
    height: 50px;
}

td {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #990000;
    background-color: #ffffcc;
}

#hello {
    text-decoration: underline;
    font-weight: bold;
    color: #009900;
}

.body {
    text-align: center;
}